{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
A Form 4 U
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">this is our collective wisdom i guess</h1>
        {% for i in range(0, length_of_thingus) %}
        <p><strong>{{ questions[i]['asker'] }} wants to know:</strong></p>
        <p><strong>{{ questions[i]['question'] }}</strong></p>
            {% for j in range(0, lengths_of_answers[i]) %}
            <p>{{ questions[i]['answers'][j]['answerer'] }} says: </p>
            <p>{{ questions[i]['answers'][j]['response'] }}</p>
{% endfor %}
{% endfor %}
      <p class="pt-5"><strong>there u go</strong></p>

    </div>
  </div>
</div>

{% endblock %}
