{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
A Form 4 U
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">this is probably a form.</h1>
<form action="" method="post" name="login"> 
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{form.email.label}}
        {{form.email(size=80)}} 
        {{form.name.label}}
        {{form.name(size=80)}}
        {{form.secret_code.label}}
        {{form.secret_code(size=80)}}
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}        
      <input type="submit" value="plz work"> 
      </form> 
      <p class="pt-5"><strong>submit ur damn form</strong></p>

    </div>
  </div>
</div>

{% endblock %}
